extends layout

block content
  .guts
    h1 – About –
    :markdown
        Text here

    h2 The Beginning
    h2 The Fire
    :markdown
        [Fire](http://pittsburgh.cbslocal.com/2013/08/30/crews-battle-fire-in-lawrenceville/)
    h2 Reborn