extends layout

block content
    .guts
        h1 The Studio at Metamorphosis
        h2 Corporate Wellness &amp; Massage Programs

        p The Studio’s corporate programs are specifically tailored to meet your organization or company’s needs.  Many progressive businesses have realized the benefits of incorporating alternative health and wellness programs for their employees to encourage a work/life balance.
        p Massage help reduce stress levels and promote creativity.  Companies who incorporate massage have realized reduced medical and disability costs, heightened productivity, increased morale and loyalty, reduced turnover, reduced absenteeism, a competitive hiring edge and increased productivity and creativity. The benefits to the employees include reduced stress, increased energy, improved body image, greater happiness and a more positive attitude, increased concentration and focus, an increased ability to meet deadlines, improved morale, decreased anxiety and tension; reduced muscle tension, back and chronic pain.
        p Research has shown that companies realize a three to six dollar savings for every dollar invested in wellness programs.  This research has also shown a 25% average reduction in healthcare costs. (American Journal of Health Promotion).

        h2 What we do:

        h3 Massage

        p We design a massage program that suits your company’s needs.  Our massage therapists are licensed and highly trained. In-office massage is a great choice for a variety of reasons.  Employees benefit from a regular regimen of therapeutic massage.  We can bring chairs and/or tables; shiatsu mats or perform massage right at the employee’s desk.  These massages can be performed without any oils or lotions which enables them to return to work oil free!

        p We can set up chairs and massage mats in an empty office, lunch room or conference room.  Desk massage is suited to situations with many employees and limited space.  The employee rests his head on a comfortable desktop massage support while seated at his desk.  This is a quick ten or fifteen minute session performed without distraction and disruption.

        p
            ul
                li One time session for up to ten employees:  $150.00
                li One time session for ten to twenty employees: $300.00
                li Six month contract 1 x per month for up to ten employees: $800
                li Six month contract 1 x per month for up to twenty employees: $1,700

        p Pricing packages for more than twenty employees can be arranged.
