extends layout

block content
  .guts
    h1 – Uh Oh –
    h3 Things that do not exist
    p.
        1. A better salon and spa than Metamorphosis<br />
        2. The Loch Ness Monster<br />
        3. This page
    p.copy.
        You should probably check out our <a href="/services">services</a> instead?