extends layout

block head
  title Metamorphosis Organic Salon, Organic Spa, Yoga in Lawrenceville Pittsburgh, PA

block content
  .guts
    h1 Look Good. Feel Good.
    h2 Hair. Nails. Massage. Yoga.
    p.
      Metamorphosis is Pittsburgh's only full-service organic salon, spa, and wellness studio.
      Located in the trendy neighborhood of Lawrenceville, we accompany our unique, organic salon and spa
      services with professional yoga and wellness classes, because when you feel good, you look even better.

    div(style="text-align: center;")
      a.big(href="/contact-metamorphosis") Contact Us
      a.big-inverted(href="/services/hair-massage-yoga") Our Services

  div(class="guts plain")
    h3(style="text-align: center; padding: 5px ") – Find Us in Lawrenceville –
    h2(style="text-align: center; padding: 5px ").
      5112 Butler St.
      Pittburgh, PA 15201

    a(target="_blank"
      href="https://www.google.com/maps/place/5112+Butler+St/@40.4786281,-79.9553303,18z/data=!4m2!3m1!1s0x8834f257ac344bdf:0x611743b0cc38fff9",
      border=0, title="5112 Butler St. Organic Spa Salon")
      img(src="/img/map.png", class="map", title="5112 Butler St. Pittsburgh, PA - Stamen Maps")

    //- aside(style="background: #eee")
    h3 – We Believe –
    ul.copy
      li Organic doesn't have to mean <del><em>expensive</em></del>
      li You look your best, when you <em>feel</em> your best
      li Services should be served with a smile and a glass of wine

