doctype 5
html
  head
    block head
    link(href="http://fonts.googleapis.com/css?family=Josefin+Sans", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lato:100", rel="stylesheet", type="text/css")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="/css/nav.css")
    link(rel="stylesheet", href="/css/form.css")
    //- script(src="http://localhost:35729/livereload.js")
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/sticky/jquery.sticky.js")
    meta(name="viewport",content="width=device-width, user-scalable=no")

  body
    script(src="/js/picturefill.js")
    img(id="bg", sizes="(min-width: 40em) 80vw, 100vw",
      srcset="/img/bg-med.jpg 600w, /img/bg-large.jpg 768w",
      alt="Organic Spa and Salon")
    img(src="/img/wordmark.png", id="wordmark", alt="Metamorphosis Organic Salon, Spa, and Wellness Studio in Pittsburgh")
    div.backdrop
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/services/hair-massage-yoga") Services
          li
            a(href="/contact-metamorphosis") Contact
          //- li
          //-   a(href="/about/organic-salon-spa") About
      block content
    footer.
      Designed by <a href="http://nategood.com">a Loving Husband</a>
    script.
      $(function() {
        $("nav").sticky();
      });
