extends layout

block head
  title Organic Spa and Salon Services – Hair, Nails, Massage, Yoga, Facial – Pittsburgh, PA

block content
  .guts
    h1 – Services –

    div(style="text-align: center")
        a.service-link(href="#massage") Massage
        a.service-link(href="#skincare") Skin Care
        a.service-link(href="#nail") Nails
        a.service-link(href="#salon") Hair
        //- a.service-link(href="#yoga") Wellness

    a(name="spa")
    a(name="massage")
    h2 – Organic Spa – 
    :markdown
        ### Massage Treatments

        All of our massage therapists are nationally certified and licensed

        ####Target Massage *$35*
        30-min massage targeting a problem area

        ####Swedish 60-min / 90-min *$70 / $100*
        Simple, relaxing massage.

        ####Deep Tissue 60-min / 90-min *$80 / $125*
        Firm pressure with trigger therapy.

        ####Hot Stone 60-min / 90-min *$80 / $125*
        Full-body massage and smooth, polished heated stones – the ultimate!

        ####Bamboo Fusion 60-min / 90-min *$80 / $125*
        Targeted massage using moist heat and bamboo canes — helps ease pain of sore muscles and achieve deep relaxation.

        ####Couples *$150*
        60-min side-by-side massage that can be enjoyed with friends, family or spouse. Special touches like champagne, wine, chocolate, or a sauna session can be provided upon request for an additional charge.

        ####Cupping Massage *$80*
        This is a modern form of vacuum therapy incorporating small cups that create a gentle suction and vacuum pressure which softens tight muscles, loosens adhesions and lifts connective tissue. This results in hydration and blood flow to the body tissues, movement of deep inflammation to the skin surface for release, and drainage of excess fluids and toxins by opening lymphatic pathways. 60-min session.

        ####Pregnancy *$80*
        Gentle massage for the mother-to-be (after first trimester only — please provide a release from your ob/gyn physician).

        ###Body Treatments

        Featuring organic skin and body products

        ####Sauna Experience
        Benefits of sauna include relaxation of muscles, body and mind, removal of toxins, calorie burning up to 300 calories

         - Single session *$20*
         - 3-session package *$50*
         - Add to any facial/massage *$5*

        ####Cellulite Treatment / with Massage *$75 / $60*
        In sauna for maximum benefits.

        ####Detox Session / Series *$120 / $300*
        In sauna for maximum benefits.

        ####Reiki Session *$80*
        Reiki massage is different than normal massage because the practitioner does not knead or manipulate the tissues or muscles. The hands of the practitioner remain still, and the energy of healing is sent through the channels of the practitioner into the patient. Reiki massage begins at the head and works its way through the seven different chakras, or energy centers, of the body. Reiki is used to treat TMG, muscle pain, tension, stress, injury, healing, and pain management. 60-min session

        ####Ionic Foot Bath
        Feet are placed in a special foot bath with a metal plate called an array, which produces a gentle current in the water, creating negative ions which are absorbed into the body through osmosis. These ions attach to the positive molecules of foreign toxins which are released through the bottom of the feet. Although we cannot make any health claims, this treatment is used to detoxify the body of metals and pollutants. It is believed to assist people with arthritis, fibromyalgia and acidosis.

         - Single Treatment *$35*
         - 3-treatment package *$85*
         - Add to a any facial/massage *$20*

        ####Body Polish / with Massage *$80 / $60*
        Cleansing and softening of skin.

    a(name="skincare")
    h2 Skincare
    :markdown
        ### Facials
        ####Facial Petite *$55*
        ####Customized *$90*
        ####Age-Smart *$110*
        ####Acne *$110*
        ####Seasonal *$120*
        ####Derm Abrasion Add-on *$60*

    a(name="nails")
    h2 Nails
    :markdown
        ###Manicure
        All manicures include a relaxing hand massage, essential oil soak, nail clipping, and shaping.

        ####Polish Change Only *$12*
        ####Gentleman’s Manicure *$20*
        Also includes clear polish if desired

        ####Petite Manicure *$22*
        Also includes polish

        ####Spa Manicure *$35*
        Also includes hand & arm exfoliation and therapeutic massage

        ####Add Shellac or Gel to Manicure *$15*
        The shellac nail treatment provides a mirror finish and zero dry time for a 14-day wear with no nail damage. Add to any of above manicures.

        ####Add French to Mani *$5*

        ###Pedicure
        Enjoy all pedicures in our custom-designed, pipeless pedicure bench, complete with heat & relaxing massage. All pedicures include essential oil soak, nail clipping, and shaping.

        ####Petite Pedicure *$40*

        ####Spa Pedicure *$50*

        ####Add French to Pedi *$5*

        ####Add Paraffin Dip to Mani or Pedi *$5*

        ####Polish Change Only *$20*

        ####Add Shellac or Gel to Pedicure *$15*
        The shellac nail treatment provides a mirror finish and zero dry time for a 14-day wear with no nail damage. Add to any of above pedicures.

    a(name="salon")
    h2 Organic Salon
    :markdown
        ###Hair Services

        ####Women's Haircut *$35 — $75*
        ####Men's Haircut *$25 — $45*
        ####Child's Haircut *$15 — $30*
        ####Single-Process Hair Color *$45 — $70*
        ####Face Frame Half *$60 — $85*
        ####Head Full Head *$90 &amp; up*
        ####Highlights *$30 — $50*

        ####Corrective Color *Varies*
        Price established at consultation

        ####Keratin Hair Straightening *$350 &amp; up*
        Formaldehyde-free alternative to the Brazilian blowout

        ####Smoothing Treatment *$100 & up*

        ####Hair Extensions *Varies*
        Using genuine, fine quality Remy hair
        Price established at consultation.

        ####Blowout
        ####Formal Hairstyling *$25 &amp; up*

        ####Custom Bridal Hairstyling *$70 &amp; up*

        ###Waxing

        ####Eyebrow *18*
        ####Lip *10*
        ####Chin *16*
        ####Full face *35*
        ####Under arm *35*
        ####Half leg *40*
        ####Full leg *75*
        ####Bikini *35*
        ####Brazilian *60*

    //- a(name="yoga")
    //- h2 Wellness, Yoga Studio

    //- h3 Vinyāsa Flow Yoga
    //- :markdown
    //-     Vinyasa yoga is the linking of body movement with breath. The movements are smooth and fluid which is why many simply refer to it as *flow*.
    //-     [View Yoga Schedule](http://www.studiobookingsonline.com/thewellnessstudioatmetamorphosissalondayspa)

    //- h3 Hatha Yoga
    //- :markdown
    //-     Slower paced form of yoga where poses are held deeper and longer.
    //-     [View Yoga Schedule](http://www.studiobookingsonline.com/thewellnessstudioatmetamorphosissalondayspa)

    //- h3 Buti Yoga
    //- :markdown
    //-     Buti yoga is a high energy workout that combines power yoga, plyometrics and tribal dancing.
    //-     [View Yoga Schedule](http://www.studiobookingsonline.com/thewellnessstudioatmetamorphosissalondayspa)

    //- h2 Corporate Services
    //- :markdown
    //-     Metamorphosis offers unique [coporate services](/corporate-services) as well.  [Learn more](/corporate-services).

