extends layout

block content
  .guts
    h1 – Staff –
    div
      h2 Mia Marie
      h3 Owner
      p.copy Certified Cosmetologist, Massage Therapist, Buti Yoga Instructor and Entreprenuer.
    div
      h2 Judy
      h3 Owner
    div
      h2 Lindsey
      h3 Stylist, Nails
    div
      h2 Bella
      h3 Buti Yoga, Receptionist
    div
      h2 Rachel
      h3 Stylist, Nails
    div
      h2 Carrie
      h3 Yoga
    div
      h2 Julie
      h3 Yoga