extends layout

block head
    title Yoga in Lawrenceville Pittsburgh – Buti Yoga, Hatha Yoga, Vinyasa Yoga

block content
  .guts
    h1 – The Studio –
    h2 At Metamorphosis
    :markdown

        ###Tuesday

         - 6:30 AM to 7:30 AM – Flow Yoga (Levels 1 and 2) with Kerrie
         - 6 PM to 7 PM – Power Vinyasa with Julie
         - 7 PM to 8 PM – Candle Light Yoga with Julie

        ###Wednesday

         - 12 PM to 1 PM Vinyasa with Sam
         - 5 PM to 6 PM Buti with Mia and Bella
         - 6:30 PM to 8 PM – Hatha with Kerrie
         - 8 PM to 9 PM Buti with Mia and Bella

        ###Thursday

         - 12 PM to 1 PM Lunchtime Buti with Mia and Bella
         - 6 to 7 PM – Power Vinyasa with Julie
         - 7 PM to 8 PM – Candle Light Yogassage with Julie and Judy or Bella

        ###Friday

         - 8 AM to 9 AM Buti with Mia and Bella
         - 9 AM to 10 PM Vinyasa with Sam
         - 4:30 PM to 5:30 PM – Buti with Mia and Bella

        ###Saturday

         - 9 AM to 10:30 – Flow Yoga with Kerrie
         - 11 AM to 12:30 PM – Yoga Basics and Beyond with Julie
         - 2 PM to 3 PM – Buti with Mia and Bella

        ## Pricing

        ###Single Sessions
         - Yoga session $10
         - Buti session $15

        ###Packages
         - 5 pack $60
         - 10 pack $100
         - Monthly pass $110
         - Three month pass $300

        ###Private
         - Private: 1 hour Yoga $75
         - Private: 1 hour Buti $80